In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [4]:
lst=[1,2,3,4,5,6]
lst
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
arr=np.array([1,2,3,4,5,6])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [6]:
pd.Series(index=["Ramseh","Mohan","Rakesh","Daniel"],data=[1,2,3,4])

Ramseh    1
Mohan     2
Rakesh    3
Daniel    4
dtype: int64

# Aggregate function

In [7]:
sr=pd.Series([1,2,3,4,5,6])
sr.agg([min,max,sum])

C:\Users\dilka\AppData\Local\Temp\ipykernel_6768\3375669382.py:2: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sr.agg([min,max,sum])
C:\Users\dilka\AppData\Local\Temp\ipykernel_6768\3375669382.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sr.agg([min,max,sum])
C:\Users\dilka\AppData\Local\Temp\ipykernel_6768\3375669382.py:2: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  sr.agg([min,max,sum])

min     1
max     6
sum    21
dtype: int64

In [8]:
steps=pd.Series({"day1":1000,"day2":2000,"day3":3000,"day4":4000})

In [9]:
pd.Series(steps).repeat(3).reset_index()

   index     0
0   day1  1000
1   day1  1000
2   day1  1000
3   day2  2000
4   day2  2000
5   day2  2000
6   day3  3000
7   day3  3000
8   day3  3000
9   day4  4000
10  day4  4000
11  day4  4000

In [10]:
pd.Series(steps).repeat(3).reset_index(drop=True)

0     1000
1     1000
2     1000
3     2000
4     2000
5     2000
6     3000
7     3000
8     3000
9     4000
10    4000
11    4000
dtype: int64

In [11]:
pd.Series([1,2,3,]).repeat([2,3,4]).reset_index()

   index  0
0      0  1
1      0  1
2      1  2
3      1  2
4      1  2
5      2  3
6      2  3
7      2  3
8      2  3

In [12]:
repeat_elements=pd.Series([1,2,3,]).repeat([2,3,4])
pd.concat([repeat_elements],ignore_index=True)

0    1
1    1
2    2
3    2
4    2
5    3
6    3
7    3
8    3
dtype: int64

### concate Series

In [13]:
sr1=pd.Series([1,2,3,4,])
sr2=pd.Series([-6,-7,-8,-9])
sr1,sr2
sr3=pd.concat([sr1,sr2])
sr3

pd.Series(sr3).reset_index(drop=True)

0    1
1    2
2    3
3    4
4   -6
5   -7
6   -8
7   -9
dtype: int64

In [14]:
sr1=pd.Series([1,2,3,4,])
sr2=pd.Series([-6,-7,-8,-9])
sr1,sr2
sr3=pd.concat([sr1,sr2],ignore_index=True)
sr3

0    1
1    2
2    3
3    4
4   -6
5   -7
6   -8
7   -9
dtype: int64

### Astype function

In [15]:
sr1.astype("str")

0    1
1    2
2    3
3    4
dtype: object

In [16]:
type(sr1)

pandas.core.series.Series

In [17]:
pd.Series([1,2,-3-4]).astype("float")

0    1.0
1    2.0
2   -7.0
dtype: float64

### Between function

In [18]:
pd.Series([1,2,3,4,8,9,5,6,8,7]).between(3,9)

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [19]:
sr=pd.Series([1,4,8,30,9,6,15,7,20,8,9,40,5,50,6,60])
sr.between(10,80)

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8      True
9     False
10    False
11     True
12    False
13     True
14    False
15     True
dtype: bool

### All string fuction can be used to extract or modify text in a Series
        Upper and Lower Function
        Len Function
        Strip Function
        Split Function
        Contains Function
        Replace Function
        Startwith and Endwith Function
        Find Function
        Count Function

#####  Upper and Lower Function

In [20]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
print(data.str.upper())
print("-"*30)      
print(data.str.lower())

0    RAMSEH
1     MOHAN
2    RAKESH
3    DANIEL
dtype: object
------------------------------
0    ramseh
1     mohan
2    rakesh
3    daniel
dtype: object

##### Len Function

In [21]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
for i in data:
    print(i , len(i))

Ramseh 6
Mohan 5
Rakesh 6
Daniel 6

##### Strip Function

In [22]:
data=pd.Series([" Ramseh " , " Mohani "," Rakesh " , " Daniel "])
ser=data.str.strip()
for i in ser:
    print(i,len(i))

Ramseh 6
Mohani 6
Rakesh 6
Daniel 6

#####  Split Function

In [23]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
data.str.split()[3]

['Daniel']

In [24]:
pd.Series(["10/5/2022","20/3/2023","15/5/2024"]).str.split("/")[1]

['20', '3', '2023']

##### Contains Function used for special character or not

In [28]:
data=pd.Series(["@Ramseh","Mohan#","@Rakesh","Daniel"])
data.str.contains("@")

0     True
1    False
2     True
3    False
dtype: bool

##### Replace Function

In [29]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
data.str.replace("R","J")

0    Jamseh
1     Mohan
2    Jakesh
3    Daniel
dtype: object

In [31]:
ser=data.str.replace("R","J")
ser

0    Jamseh
1     Mohan
2    Jakesh
3    Daniel
dtype: object

##### Startswith Function

In [34]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
data.str.startswith("R")

0     True
1    False
2     True
3    False
dtype: bool

##### Endswith Function

In [35]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
data.str.endswith("h")

0     True
1    False
2     True
3    False
dtype: bool

##### Count Function

In [37]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
data.str.count("h")

0    1
1    1
2    1
3    0
dtype: int64

##### Find Function

In [38]:
data=pd.Series(["Ramseh","Mohan","Rakesh","Daniel"])
data.str.find("h")

0    5
1    2
2    5
3   -1
dtype: int64

In [40]:
data=pd.Series(["Ramesh","Mohan","Rakesh","Daniel"])
data.to_list()

['Ramesh', 'Mohan', 'Rakesh', 'Daniel']